.hero{
    background-color: $darkViolet;
    //position: relative;
    margin-bottom: 304px;

    

    


    
    &__grid{
        display: grid;
        text-align: center;
        position: relative;



        @include breakpoint-up(large){
            grid-template-columns: 1fr 1fr;
            grid-template-areas: " left right";
            gap: 33px;
            align-items: center;
            text-align: left;

        }

    }
    &__img{
        position: relative;

        

        img{
            width: 100%;
            height: auto;
            //display: block;
            vertical-align: top;
        }

        @include breakpoint-up(large){
            grid-area: right;
            //margin-top: 6.5625rem;
            width: 540px;
            height: 650px;

            img{
                position: absolute;
                top: 105px;
                width: 100;
                height: auto;
            }

        }

    }

    &__text{
        //max-width: 600px;
        color: white;
        padding: 93px 28px 102px 25px;

        @include breakpoint-up(large){
            grid-area: left;
            padding-left: 140px;
            padding-right: 0px;
            
        }
        

        h1{

            font-size: 2.625rem;
            line-height: 1;
            margin-bottom: 1.625rem;

            @include breakpoint-up(large){
                max-width: 332px;


            }
            
        }

        p{
            font-size: 0.9437rem;
            margin-bottom: 2.0625rem;


        }

        a{
            border: 1px solid $veryLightGray;
            font-size: 0.75rem;
            //margin-top: 0.9375rem;
            padding: 0.875rem 1.625rem 0.875rem 1.625rem;
            
        }


       


    }
    

}